// Margin = Outside the Box
// Padding = Inside the Box
// GOOGLE FONTS
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap");
// VARIABLES
// Colors
// primary colors
$purple: hsl(259, 100%, 65%);
$light_red: hsl(0, 100%, 67%);
// neutral colors
$white: hsl(0, 0%, 100%);
$off_white: hsl(0, 0%, 94%);
$light_grey: hsl(0, 0%, 86%);
$smokey_grey: hsl(0, 1%, 44%);
$off_black: hsl(0, 0%, 8%);
// Typography
// font-family
$ff_Poppins: "Poppins", sans-serif;
// font-weight
$fw_regular: 400;
$fw_bold: 700;
$fw_extra_bold: 800;
// font-size
$fs_inputs: 3.2rem;
// Breakpoints
$mobile: 640px;
$tablet: 768px;
$xl_tablet: 960px;
$desktop: 1024px;
// RESET
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 62.5% of 16px browser font size is 10px */
}

html,
body {
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  max-width: 100%;
}

img {
  display: block;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

p {
  line-height: 1.6;
}

// STYLES
body {
  font-family: $ff_Poppins;
  font-size: 1.6rem;
  background-color: $off_white;
}

main {
  min-height: 100vh;
  margin-top: 9rem;
  @media screen and (min-width: $desktop) {
    margin-top: 0;
    display: grid;
    place-items: center;
  }
}

form {
  background-color: $white;
  max-width: 34rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 5rem 2.5rem 4.4rem 2.5rem;
  border-radius: 18px;
  border-bottom-right-radius: 60px;
  @media screen and (min-width: $desktop) {
    max-width: 76rem;
  }
  @media screen and (min-width: $mobile) {
    max-width: 65rem;
  }
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 0 0 10px 0;
}

.column {
  display: flex;
  flex-direction: column;
}

label {
  color: $smokey_grey;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: 1.2rem;
  font-weight: $fw_bold;
  @media screen and (min-width: $desktop) {
    font-size: 1.6rem;
  }
}

input {
  outline: none;
  box-shadow: none;
  border: solid 1px $light_grey;
  border-radius: 8px;
  padding: 1.5rem 0 1.5rem 1.5rem;
  margin-top: 0.5rem;
  font-size: 1.8rem;
  font-weight: $fw_extra_bold;
  color: $off_black;
  @media screen and (min-width: $desktop) {
    width: 16rem;
    font-size: $fs_inputs;
  }
}

input:focus {
  box-shadow: none;
}

.error {
  color: red;
  font-size: 0.85rem;
  font-weight: 400;
  font-style: italic;
}

hr {
  margin-top: 5rem;
  border-top: 1px solid;
  color: $off_white;
}

.relative {
  position: relative;
}

button {
  border: none;
  border-radius: 50%;
  background-color: $purple;
  width: 6.5rem;
  height: 6.5rem;
  position: absolute;
  left: 11.5rem;
  top: -3rem;
  cursor: pointer;
  @media screen and (min-width: $desktop) {
    left: 65.5rem;
  }
}

button > img {
  margin: 0 auto;
  width: 3rem;
}

ul {
  margin-top: 5rem;
}

ul,
li {
  font-size: 5.25rem;
  font-weight: $fw_extra_bold;
  font-style: italic;
  line-height: 1.2;
}

ul > li > span {
  color: $purple;
  margin-right: 0.5rem;
}
