// Margin = Outside the Box
// Padding = Inside the Box
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 200px;
  padding: 0 0 10px 0;
}

.column {
  display: flex;
  flex-direction: column;
}

.form-group {
  color: var(--smokey-grey);
}
.form-group.error {
  color: var(--light-red);
}
.form-group.error input {
  border: 1px solid var(--light-red);
}
.form-group.error p.error {
  display: block;
}
.error.error {
  color: red;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
}
